@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  --green: #66e2dc;
  --orange: #fa7453;
  --gold: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}
